.title>div[data-v-2cd6b2a6], .title[data-v-2cd6b2a6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.title[data-v-2cd6b2a6] {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: .7rem .4rem .4rem;
    font-size: .36rem;
    height: .5rem;
}
.title>div[data-v-2cd6b2a6] {
    font-weight: 700;
}
.title>div[data-v-2cd6b2a6], .title[data-v-2cd6b2a6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.title .n-desc[data-v-2cd6b2a6] {
    font-size: .22rem;
    margin-left: .12rem;
    font-weight: 400;
}
.title-btn[data-v-2cd6b2a6] {
    background: none;
    position: relative;
    padding-right: .2rem;
    font-size: .24rem;
    color: #888;
}
button, input[type=button], input[type=password], input[type=submit], input[type=text], textarea {
    -webkit-appearance: none;
    -webkit-appearance: button;
}
.title-btn[data-v-2cd6b2a6]:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: .07rem;
    border-color: transparent transparent transparent #a5a5a5;
    position: absolute;
    right: -.14rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.tag-content[data-v-7bb4aba0] {
    padding: 0 .2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}